.container-cart {
  display: flex;
  flex-direction: column;
  &__table {
    border-collapse: collapse;
    td {
      box-sizing: border-box;
      text-align: center;
      height: 100px;
      width: 100px;
    }
    .td-detalle {
      text-align: left;
    }
  }
}
