.carrito-total {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	ul {
		margin: 0;
		padding: 0;
	}
	li {
		list-style: none;
		margin: 0;
		padding: 0;
	}
	.p-precio {
		font-weight: bold;
	}
	.p-gray {
		color: gray;
		max-width: 210px;
	}
	p {
		margin: 0;
		padding: 0;
	}
	.titulo-carrito {
		font-weight: bold;
	}
	.total-carrito {
		margin: 0;
		padding: 0;
		font-family: monospace;
		font-size: 1.5em;
	}
	.li-texto-center {
		display: flex;
		justify-content: space-between;
	}
}
