.total-carrito {
  @mixin flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__header {
    @include flex;
  }
  &__footer {
    @include flex;
  }
  &__title {
    color: gray;
  }
  li {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__precio {
    display: flex;
    width: 50px;
    justify-content: space-between;
    span {
      display: block;
    }
  }
  &__total {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #132743;
    color: white;
    align-items: center;
    &-precio {
      font-size: 1.3em;
    }
  }
}
