.carrousel{
    display: none;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin-bottom: 30px;
    .carrousel-img{
        max-width: 450px;
        height: 300px;
        img {
            object-fit: fill;
            width: 100%;
            height: 100%;
        }
    }
    .tipo-pago{
        width: 200px;
        text-align: center;
        img{
            margin-top: 30px;
        }
    }
}
@media screen and ( min-width:768px) {
    .carrousel{
        
        display: flex;
    }
}