.App {
	position: relative;
	padding-bottom: 50px;
	min-height: 1200px;
	height: 100%;
}

.App::after {
	background-image: url('https://braianlopez10.github.io/tacos/img/fondo.png');
	background-size: 400px;
	content: '';
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;
}
