.menu-admin {
  border: 1px solid red;
  &__container {
    border: 1px solid yellow;
    display: flex;
    justify-content: center;
    &__menu {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      height: 60px;
      align-items: center;
      li {
        list-style: none;
        display: inline-block;
        background-color: #132743;
        margin: 2px;
        border-radius: 5px;
        padding: 10px;
        a {
          text-decoration: none;
          color: white;
          cursor: pointer;
          font-weight: 700;
        }
      }
    }
  }
}
